<div class="feed-container">
	<div class="fund-detail-wrapper">
		<div class="fund-detail-header">
			<div class="fund-name">Neptune Fund</div>
			<div class="fund-value-header">$53,115</div>
		</div>
		<div class="fund-graph">
			<img src="img/graph.svg">
		</div>
		<div class="current-stocks-header">Current stocks in fund:</div>
		<table class="current-stocks-wrapper">
			<tr ng-repeat="stock in currentStocks" class="current-stock">
				<td class="stock-name">{{stock.name}}</td>
				<td class="stock-price">{{stock.price}}</td>
				<td class="stock-change" ng-class="stock.change>0 ? 'positive' : 'negative'">{{stock.change}}</td>
				<td class="stock-shares">{{stock.shares}}</td>
			</tr>
		</table>
	</div>
	<div class="current-proposals">
		<div class="current-proposals-header">Current Proposals</div>
		<div class="proposals-wrapper">
			<div class="proposal">
				<div class="proposal-votes">
					<img src="img/up-arrow.svg" ngClick="incrementVote('MSFT')">
					<div class="num-votes">85</div>
					<img src="img/down-arrow.svg" ngClick="decrementVote('MSFT')">
				</div>
				<div class="proposal-name">MSFT</div>
				<div class="proposal-value">+10 shares</div>
			</div>
		</div>
		<div ng-click="show = !show" class="add-proposal-header">+ Add new proposal</div>
		<div ng-show="show" class="new-proposal">
		<form name="proposalForm" ng-submit="AddProposal(proposal)">
		 <div class="proposal-form-item"><span class="proposal-label">NAME:</span> <input type="text" name="proposal-name" ng-model="proposal.name"></div>
		  <div class="proposal-form-item"><span class="proposal-label">STOCK:</span> <input type="text" name="proposal-stock" ng-model="proposal.stock"></div>
		  <div class="proposal-form-item"><span class="proposal-label">SHARES:</span> <input type="text" name="proposal-shares"></div>
		  <div class="proposal-button"><input type="submit" value="SUBMIT" ng-model="proposal.shares"></div>
		</form>
		</div>
	</div>
</div>
