<div class="sidebar">
    <div class="picture">
        <img src="img/user-icon.svg">
    </div>
    <!-- TODO: put in real values for these -->
    <div class="profile-name">{{ fullname }}</div>
    <div class="profile-balance">$10.00</div>
    <div class="funds-label">MY FUNDS</div>
    <div class="my-funds">
        <!-- TODO: for each loop here for funds -->
        <div class="fund" ng-repeat="fund in userData.data.playerFunds">
            <!-- TODO: put in real values for these -->
            <div class="fund-name-sidebar">{{ fund.fundName }}</div>
            <div class="fund-value">$53,115</div>
        </div>
    <div class="funds-label-bot">JOIN OTHER FUNDS</div>
    </div>
    <div class="join-fund">
        <div class="open-funds" ng-repeat="fund in openFunds">
        <div class="fund-name-sidebar light">{{ fund.fundName }}</div>
        <div class="fund-value light">$175,000</div>
        <div class="add-fund light" ng-click="joinFund(fund.fundName)">+</div>
        </div>
    </div>
</div>

<script>
</script>