.feed-container {
	display: flex;
	width: calc(100vw - 270px);
	height: 100%;
	background-color: #121212;
	color: #FFFFFF;
}

.fund-detail-wrapper {
	width: calc(100% - 280px);
	min-width: 300px;
}

.fund-name {
	font-size: 24px;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin: 13px;
}

.fund-graph {
	background-color: #1D1D1D;
	height: 312px;
}

.current-stocks-header {
	font-size: 18px;
	letter-spacing: 3px;
	margin-left: 15px; 
	margin-top: 18px;
	margin-bottom: 12px;
}

.current-stocks-wrapper {
	width: 100%;
	border-collapse: collapse;
}

td {
	padding: 10px;
}

tr:nth-child(odd) {
	background-color: #282828;
}

.positive {
	color: #16FF04;
}

.negative {
	color: red;
}

.current-proposals {
	width: 280px;
	background-color: #343333;
}

.current-proposals-header {
	font-size: 18px;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin: 20px;
}

.proposal {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.proposal-label {
	font-size: 16px; 
	letter-spacing: 2px;
}

input[type=text] {
    border: 1px solid #979797;
    background-color: #343333;
    padding: 6px;
    border-radius: 4px;
    color: white;
}

input[type=submit] {
	background-color: #0DCC9A;
	border-radius: 6px;
	border: none;
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
    width: 120px;
    height: 40px;
}

.proposal-form-item {
	margin-left: 25px;
	margin-bottom: 10px;
}

.proposal-wrapper {
	display: 'flex';
	flex-direction: vertical;
}

.num-votes {
	font-size: 20px;
	color: #23F4BD;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.proposal-button {
	width:100%;
	text-align: center;
}

.add-proposal-header {
	opacity: 0.5;
	font-size: 16px;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 10px;
	cursor: pointer;
}